body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: larger;
background-color: rgb(221, 237, 250);


color: rgb(9, 16, 54);

text-align: center;
padding: 20px;
border: grey;


}
